.footer {
    width: 100%;
    min-height: 100%;
    &-hr {
        width: 100%;
        border: 1px solid #3e3e3e;
        margin-top: 15px;
    }
    &-text {
        color: #949494;
        font-family: "Crimson Text", sans-serif;
        font-size: 14px;
        font-style: italic;
        line-height: 20.31px;
        letter-spacing: 1.4px;
        margin-top: 28px;
    }
}